<h1>New Store</h1>

<%= form_for @store do |f| %>
  <%= f.label :name %>
  <%=f.text_field :name %>
  <%= f.label :daily_sales %>
  <%=f.number_field :daily_sales %>
  <%= f.label :labor %>
  <%=f.number_field :labor %>
  <%= f.label :cheese %>
  <%=f.number_field :cheese %>
  <%= f.label :pepperoni %>
  <%=f.number_field :pepperoni %>
  <%= f.label :meat_lover %>
  <%=f.number_field :meat_lover %>
  <%= f.label :bbq_chicken %>
  <%=f.number_field :bbq_chicken %>
  <%= f.label :carnea_mante %>
  <%=f.number_field :carne_amante %>
  <%= f.label :buffalo_chicken %>
  <%=f.number_field :buffalo_chicken %>
  <%= f.label :chicken_bacon_ranch %>
  <%=f.number_field :chicken_bacon_ranch %>
  <%= f.label :italian_sausage %>
  <%=f.number_field :italian_sausage %>
  <%= f.label :hawaiian %>
  <%=f.number_field :hawaiian %>
  <%= f.label :garlic_vegetarian %>
  <%=f.number_field :garlic_vegetarian %>
  <%= f.label :chicken_pesto %>
  <%=f.number_field :chicken_pesto %>
  <%= f.label :mediterranean %>
  <%=f.number_field :mediterranean %>
  <%= f.label :tuscan_veggie %>
  <%=f.number_field :tuscan_veggie %>
  <%= f.label :margherita %>
  <%=f.number_field :margherita %>
  <%= f.label :prime_rib %>
  <%=f.number_field :prime_rib %>
  <%= f.label :thai_chicken %>
  <%=f.number_field :thai_chicken %>
  <%= f.label :gyro %>
  <%=f.number_field :gyro %>
  <%= f.label :coconut_shrimp %>
  <%=f.number_field :coconut_shrimp %>
  <%= f.submit %>
<% end %>
