<h1><%= @store.name %></h1>

<table>
  <thead>
    <tr>
      <th>Daily Sales</th>
      <th>Labor</th>
      <th>Cheese</th>
      <th>Pepperoni</th>
      <th>Meat Lovers</th>
      <th>BBQ Chicken</th>
      <th>Carne Amante</th>
      <th>Buffalo Chicken</th>
      <th>Chicken Bacon Ranch</th>
      <th>Italian Sausage</th>
      <th>Hawaiian</th>
      <th>Garlic Vegetarian</th>
      <th>Chicken Pesto</th>
      <th>Mediterranean</th>
      <th>Tuscan Veggie</th>
      <th>Margherita</th>
      <th>Thai Chicken</th>
      <th>Gyro</th>
      <th>Coconut Shrimp</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @store.daily_sales %></td>
      <td><%= @store.labor %></td>
      <td><%= @store.cheese %></td>
      <td><%= @store.pepperoni %></td>
      <td><%= @store.meat_lover %></td>
      <td><%= @store.bbq_chicken %></td>
      <td><%= @store.carne_amante %></td>
      <td><%= @store.buffalo_chicken %></td>
      <td><%= @store.chicken_bacon_ranch %></td>
      <td><%= @store.italian_sausage %></td>
      <td><%= @store.hawaiian %></td>
      <td><%= @store.garlic_vegetarian %></td>
      <td><%= @store.chicken_pesto %></td>
      <td><%= @store.mediterranean %></td>
      <td><%= @store.tuscan_veggie %></td>
      <td><%= @store.margherita %></td>
      <td><%= @store.thai_chicken %></td>
      <td><%= @store.gyro %></td>
      <td><%= @store.coconut_shrimp %></td>
    </tr>
  </tbody>
</table>
