<h1><%= @store.name %></h1>

<% if @store.weeks.any? %>
<h4>Weekly Stats:</h4>

<% @store.weeks.each do |week| %>
<ul>
  <li>
    <%= link_to week.week_of, store_week_path(@store, week) %>
  </li>
</ul>
<% end %>
<% else %>
<p>No weekly data for this store.</p>
<% end %>

<h3>Import Weekly Data</h3>
<%= form_tag import_store_weeks_path(@store), multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload" %>
<% end %>
<p><%= link_to "Add weekly data", new_store_week_path(@store) %></p>
