<h1>Tuscan Stone Pizza</h1>

<div id="annual"></div>
<h2>Total Sales (ytd)</h2>
  $<%= @overall_sales %>

<h2>Total Labor (ytd)</h2>
  $<%= @overall_labor %>

<h3>Three most popular pizzas sold:</h3>

<ul>
    <li>Type: | Quantity:</li>
    <li><%= @most_orders[0] %></li>
    <li><%= @most_orders[1] %></li>
    <li><%= @most_orders[2] %></li>

</ul>





<h3>Import Sales Data</h3>
<%= form_tag import_masters_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload" %>
<% end %>

<h3>Import Product Data</h3>
<%= form_tag import_products_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload" %>
<% end %>

<h3>Stores:</h3>
<p><%= link_to "New Castle", newcastle_path %></p>
<p><%= link_to "Mercer Island", mercerisland_path %></p>
<p><%= link_to "Tiger Mountain", tigermountain_path %></p>
<p><%= link_to "Issaquah", issaquah_path %></p>

<h3>Products</h3>
<p><%= link_to "Products", products_path %></p>
