
<table>
  <thead>
    <tr>
      <th>day</th>
      <th>New Castle Sales</th>
      <th>New Castle Labor</th>
      <th>Mercer Island Sales</th>
      <th>Mercer Island Labor</th>
      <th>Tiger Mountain Sales</th>
      <th>Tiger Mountain Labor</th>
      <th>Issaquah Sales</th>
      <th>Issaquah Labor</th>
    </tr>
  </thead>
  <tbody>
    <% @masters.each do |master| %>
    <tr>
      <td><%= master.day %></td>
      <td><%= master.nc_sales %></td>
      <td><%= master.nc_labor %></td>
      <td><%= master.mi_sales %></td>
      <td><%= master.mi_labor %></td>
      <td><%= master.tm_sales %></td>
      <td><%= master.tm_labor %></td>
      <td><%= master.is_sales %></td>
      <td><%= master.is_labor %></td>
    </tr>
    <% end %>
  </tbody>
</table>
