<h1>Tuscan Stone Pizza, New Castle</h1>

<h2>Total Sales (ytd)</h2>
  $<%= @nc_sales %>

<h2>Total Labor (ytd)</h2>
  $<%= @nc_labor %>

<h3>Three most popular pizzas at New Castle</h3>

<ul>
    <li>Type: Quantity:</li>
    <li><%= @most_orders[0] %></li>
    <li><%= @most_orders[1] %></li>
    <li><%= @most_orders[2] %></li>

</ul>

<h3>Add Order Data</h3>
<%= form_tag import_orders_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload" %>
<% end %>

<p><%= link_to "Back", root_path %></p>
